@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('/icons/check.css');
@import url('/icons/copy.css');
@import url('/icons/menu.css');

* {
  color: #ffffffde;
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1b1b1f;
  margin: 0;
  padding: 0;
}

li,
span,
p,
a {
  color: inherit;
  font-weight: inherit;
}

.link {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #73f273;
}

.shiki.vitesse-dark {
  overflow: scroll;
  padding-right: 50px;
  padding-bottom: 10px;
  scrollbar-width: thin;
}


.sidebar {
  width: 320px;
}

@media (max-width: 320px) {
  .sidebar {
    width: calc(100% - 64px);
  }
}